[Desktop Entry]
Encoding=UTF-8
Name=Link to Tabs.py
Type=Link
URL=https://www.facebook.com/ajax/messaging/attachment.php?attach_id=ebfb8200d6ce69e7e03ae32e4c54cf63&mid=mid.1392639573758%3A07a0bafc468f625e04&hash=AQCjmlLT5BnbIK2d
Icon=(null)
